:root {
    --customGray: #222222;
    --jewel: #4717F6;
}

html, body {
    background: url("../Images/jelly-background.jpg") no-repeat center center fixed !important;
    font-family: 'Cairo', sans-serif !important;
    color: white !important;
}

#mainContainer {
    background-color: var(--customGray);
    border-radius: 10px;
    padding: 2%;
    opacity: .9;
}

.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: white !important;
}

.nav-link {
    color: white !important;
}

.table thead tr, th, td {
    color: white !important
}

a {
    color: white !important;
}

.form-control {
    height: auto !important;
}

#error-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}