
@{
    ViewData["Title"] = "About Us";
}

<h1>Project 1 - Aquarium App</h1>

<h4>
    Tech
</h4>

<img id="error-image" src="~/Images/aspnet.png" />

<img id="error-image" src="~/Images/pipelines.png" />