
@{
    ViewData["Title"] = "About Us";
}

<h1>Project 1 - Aquarium App Tech</h1>

<h4>
    Front-End
</h4>
<div>HTML5, CSS, Bootstrap, JQuery</div>
<br />
<h4>
    Back-End
</h4>
<div>ASP.NET, C#, Azure SQL Database</div>
<br />
<h4>
    DevOps
</h4>
<br />
<div>Azure App Services, Azure Pipelines</div>
<br />
<img id="error-image" src="~/Images/aspnet.png" />
<br />
<img id="error-image" src="~/Images/pipelines.png" />