@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center font-weight-bold">
    <h1 class="display-4">Welcome to the Aquarium!</h1>
</div>
<div class="text-center">
    <h4>
        Please navigate to one of the above choices.
    </h4>
</div>
