@model Aqua.WebApp.Models.InventoryItemModel

@{
    ViewData["Title"] = "ImportAnimal";

}
<h1>Import Animal</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ImportAnimal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <input asp-for="LocationId" class="form-control" value=@Model.LocationId readonly="@(true)"/>
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select animal
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @foreach (var animal in Model.Animals)
                    {
                        <a class="dropdown-item" value="@animal.Name">@animal.Name</a>
                    }
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
